<div class="card">
    <div class="card-header">
        <h2>Delivery</h2>
    </div>
    <div class="card-body pt-0"><br>
        <p>This operation is used to finalize the quotation request.</p>
        <div class="panel">
            <h3><b>/requestDelivery - POST</b></h3><br>
            <a class="btn btn-warning" [routerLink]="'console'" id="btnOpenConsole" role="button"> Try it</a>
        </div>
        <div class="panel">
            <h4><b> Request URL</b></h4>
            <label>{{domain}}/api/delivery/requestDelivery</label>
        </div>
        <div class="panel">
            <h4><b>Request headers</b></h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Content-Type </label>
                            <span class="text-muted"> (optional)</span>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            Media type of the body sent to the API.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>secret-token</label>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            <p>Subscription key which provides access to this API. Found in your <b>Profile</b>.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel">
            <h4><b> Path Variables</b></h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>quoteId</label>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            <p>Id of the quotation.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel">
            <h4><b> Request body</b></h4>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#requesttab1" role="tab" data-toggle="tab">
                        application/json
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel">
            <h4><b> Responses</b></h4>
            <label class="text-success">201 Created</label>
        </div>
        <div class="panel">
            <h4><b>Representations</b></h4>
            <div role="tabpanel">
                <div class="tab">
                    <button class="tablinks" (click)="openCity($event, 'Sample')">Sample</button>
                    <button class="tablinks" (click)="openCity($event, 'Schema')">Schema</button>
                </div>

                <div id="Sample" class="tabcontent">
                    <pre><code class="json"><span class="http">
{{ '{' }}<span class="hljs-string">
    "pickupContactEmail": "string",
    "pickupContactPhoneNumber": "string",
    "dropoffContactFullName": "string",
    "dropoffContactEmail": "string",
    "dropoffContactPhoneNumber": "string",
</span>{{ '}' }}
                    </span></code></pre>
                </div>

                <!-- <div id="Schema" class="tabcontent">
                    <pre><code class="json"><span class="http">
{{ '{' }}
    "pickupContactEmail": "deliver@gmail.com",
    "pickupContactPhoneNumber": "+221780149453",
    "dropoffContactFullName": "Recipient",
    "dropoffContactEmail": "recipient@gmail.com",
    "dropoffContactPhoneNumber": "+221783243453"
{{ '}' }}
                    </span></code></pre>
                </div> -->


                <div id="Schema" class="tabcontent">
                    <pre><code class="json"><span class="http">
{{ '{' }}
    <span class="hljs-string">"type": "object",</span>
    <span class="hljs-string">"properties":</span> {{ '{' }}
        <span class="hljs-string">"pickupContactEmail":</span> {{ '{' }}
            <span class="hljs-string">"description": "The contact designated by the email of the person who must be deliver the package."
            "example": "deliver@gmail.com"</span>
        {{ '}' }},
        <span class="hljs-string">"pickupContactPhoneNumber":</span> {{ '{' }}
            <span class="hljs-string">"description": "The contact designated by the phone number of the person who must be deliver the package."
            "example": "+221781234453"</span>
        {{ '}' }},
        <span class="hljs-string">"dropoffContactFullName":</span> {{ '{' }}
            <span class="hljs-string">"description": "The contact designated by the name of the person who must be deliver the package."
            "example": "Recipient"</span>
        {{ '}' }},
        <span class="hljs-string">"dropoffContactEmail":</span> {{ '{' }}
            <span class="hljs-string">"description": "The contact designated by the email of the person who must be deliver the package."
            "example": "recipient@gmail.com"</span>
        {{ '}' }}, 
        <span class="hljs-string">"dropoffContactPhoneNumber":</span> {{ '{' }}
            <span class="hljs-string">"description": "The contact designated by the phone number of the person who must be deliver the package."
            "example": "+221783243453"</span>
        {{ '}' }}, 
    {{ '}' }},
{{ '}' }}
                  </span></code></pre>
                </div>

            </div>
        </div>

        <h4 class="card-title"><b> Code samples</b></h4>
        <div class="tab-content">
            <iframe
                src="//api.apiembed.com/?source=https://logidoo.s3.us-east-2.amazonaws.com/delivery.json&targets=shell:curl,node:unirest,java:unirest,python:requests,php:curl,ruby:native,objc:nsurlsession,go:native,javascript:jquery,node:native,node:request,python:python3"
                frameborder="0" scrolling="no" width="100%" height="500px" seamless></iframe>
        </div>
    </div>