<div class="card"><br><br>
    <div class="card-header">
        <h2>Delivery - Console</h2>
    </div>
    <div class="card-body pt-0"><br>
        <div>This operation is used to get API KEY to access to Logidoo Ecommerce API.</div>
        <div class="panel"><br>
            <form name="form" #reset="ngForm" (ngSubmit)="Submit()" class="needs-validation">
                <h4><b> Query parameters</b></h4>
                <div id="buildyourform">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group has-error">
                                <input type="text" class="form-control" value="Content-type" placeholder="content-type"
                                    readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group has-feedback">
                                <input type="text" [(ngModel)]="contentType" name="contentType" class="form-control"
                                    (keyup)="onKey($event)" value="application/json">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button (click)="addParameter()" id="addParameter" class="btn btn-link" type="button">
                        <i class="fas fa-plus" aria-hidden="true"></i> Add parameter
                    </button><br><br>
                </div>
                <!-- <div>
                    <h4><b> Headers</b></h4>
                    <div class="row">
                        <div class="col-md-3">
                            <b>secret-key</b>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group has-feedback">
                                <input type="textbox" [(ngModel)]="authorization" name="authorization" 
                                class="form-control" (keyup)="onKey($event)" placeholder="value">
                            </div>
                        </div>
                    </div>
                </div><br> -->
                <div>
                    <h4><b> Request body</b></h4>
                    <div class="app-ace-editor tabcontent" #editor></div>
                </div><br>
                <div>
                    <h4><b> HTTP request</b></h4>
                    <div id="httpRequest" class="tabcontent">
                        <pre>
                        <code data-bind="text: requestSummary" title="Double click to select all.">
POST https://localhost:9000/api/users/login HTTP/1.1
Host: localhost:9000
Content-Type: {{ contentType }}
<span *ngIf="parameterValue != null" id="parameter"></span>
{{ bodyRequest }}
                        </code></pre>
                    </div>
                </div><br>
                <div class="actions mt-3">
                    <button type="submit" class="btn btn-warning">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>