<div class="card">
    <div class="card-header">
        <h2>Delivery</h2>
    </div>
    <div class="card-body pt-0"><br>
        <p>This operation is used to get delivery information from Logidoo Ecommerce API.</p>
        <div class="panel">
            <h3><b>/ - GET</b></h3><br>
            <a class="btn btn-warning" [routerLink]="'console'" id="btnOpenConsole" role="button"> Try it</a>
        </div>
        <div class="panel">
            <h4><b> Request URL</b></h4>
            <label>https://localhost:9000/delivery</label>
        </div>
        <div class="panel">
            <h4><b>Request headers</b></h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Content-Type </label>
                            <span class="text-muted"> (optional)</span>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            Media type of the body sent to the API.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>secret-token</label>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            <p>Subscription key which provides access to this API. Found in your <b>Profile</b>.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel">
            <h4><b> Path Variables</b></h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>deliveryId</label>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            <p>Id of the delivery.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel">
            <h4><b> Request body</b></h4>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    None
                </li>
            </ul>
        </div>
        <div class="panel">
            <h4><b> Responses</b></h4>
            <label class="text-success">201 OK</label>
        </div>
    </div>
</div>