<div class="card">
	<div class="card-header">
		<h2><b>Client</b></h2>
	</div>
	<div class="card-body">
		<!-- Profile Settings Form -->
		<form>
			<div class="row form-row"  *ngIf="infoUser">
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" value="{{infoUser.data.username}}" readonly>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" value="{{infoUser.data.email}}" readonly>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>Phone</label>
						<input type="text" class="form-control" value="{{infoUser.data.phone}}" readonly>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>CompanyName</label>
						<input type="text" class="form-control" value="{{infoUser.data.companyName}}" readonly>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="form-group">
						<label>Country</label>
						<input type="text" class="form-control" value="{{infoUser.data.country}}" readonly>
					</div>
				</div>
			</div>
		</form>
		<!-- /Profile Settings Form -->
	</div>
	<div class="card-footer">
		<div class="submit-section">
			<button (click)="generateKey()"  type="submit" class="btn btn-primary submit-btn generate">Generate API Secret</button>
		</div><br>
		<div class="row form-row">
			<div class="col-12 col-md-6">
				<div class="form-group">
					<div class="text-wrap">
						<textarea value="{{secret}}" class="form-control datetimepicker" rows="6" id="textA"></textarea>
						<div id="copyToClipboard-a" class="clipboard icon"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>