<div class="card">
    <div class="card-header">
        <h2>Users</h2>
    </div>
    <div class="card-body pt-0"><br>
        <p>This operation is used to register as a client of Logidoo Ecommerce API.</p>
        <div class="panel">
            <h3><b>/register - POST</b></h3><br>
            <a class="btn btn-warning" [routerLink]="'console'" id="btnOpenConsole" role="button"> Try it</a>
        </div>
        <div class="panel">
            <h4><b> Request URL</b></h4>
            <label>https://localhost:9000/users/register</label>
        </div>
        <div class="panel">
            <h4>Request headers</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Authorization</label>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            <p>Basic authentication header containing API user ID and API key. Should be sent in as
                                HS245
                                encoded.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Content-Type</label>
                            <span class="text-muted">(optional)</span>
                        </div>
                        <div class="col-md-1">
                            string
                        </div>
                        <div class="col-md-8">
                            Media type of the body sent to the API.
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="panel">
            <h4><b> Request body</b></h4>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#requesttab1" role="tab" data-toggle="tab">
                        application/x-www-form-urlencoded
                    </a>
                </li>
            </ul>
            <!-- <pre> --> <code class="nohighlight">               
access_token 
            </code> <!-- </pre> -->
        </div>
        <div class="panel">
            <h4><b> Responses</b></h4>
            <label>201 Created</label>
        </div>

        <div class="panel">
            <h4>Representations</h4>
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#response200tab1" role="tab" data-toggle="tab">
                            application/json
                        </a>
                    </li>
                </ul>
                <div class="tab">
                    <button class="tablinks" (click)="openCity($event, 'Sample')">Sample</button>
                    <button class="tablinks" (click)="openCity($event, 'Schema')">Schema</button>
                </div>
                <div id="Sample" class="tabcontent">
                    <pre><code class="json"><span class="http">
{{ '{' }}
    "username": "string",
    "email": "string",
    "phone": "number",
    "compagnyName": "string",
    "country": "string",
    "password": "string"
{{ '}' }}
                    </span></code></pre>
                </div>

                <div id="Schema" class="tabcontent">
                    <pre><code class="json"><span class="http">
{{ '{' }}
    "username": "Geek",
    "email": "geek@gmail.com",
    "phone": "+33464676551",
    "compagnyName": "Xaliss",
    "country": "France",
    "password": "pass123"
{{ '}' }}
                    </span></code></pre>
                </div>
            </div>
        </div>

        <h4 class="card-title"><b> Code samples</b></h4>
        <ul class="nav nav-tabs nav-code">
            <li class="nav-item"><a class="nav-link active" (click)="openCity($event, 'basictab1')">Curl</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openCity($event, 'basictab2')">C#</a></li>
            <li class="nav-item"><a class="nav-link" (click)="openCity($event, 'basictab3')">Java</a></li>
        </ul>
        <div class="tab-content">

            <div class="tabcontent tablinks" id="basictab1">
                <pre><code class="json">
curl --location --request POST 'http://localhost:9000/api/users/register' \
--header 'Content-Type: application/x-www-form-urlencoded' \
--data-urlencode 'username=user' \
--data-urlencode 'email=user@gmail.com' \
--data-urlencode 'phone=+221781234568' \
--data-urlencode 'companyName=Logidoo' \
--data-urlencode 'country=Senegal' \
--data-urlencode 'password=pass123'
                </code></pre>
            </div>

            <div class="tabcontent tablinks" id="basictab2">
                <pre><code class="json">
var client = new RestClient("http://localhost:9000/api/users/register");
client.Timeout = -1;
var request = new RestRequest(Method.POST);
request.AddHeader("Content-Type", "application/x-www-form-urlencoded");
request.AddParameter("username", "user");
request.AddParameter("email", "user@gmail.com");
request.AddParameter("phone", "+221781234568");
request.AddParameter("companyName", "Logidoo");
request.AddParameter("country", "Senegal");
request.AddParameter("password", "pass123");
IRestResponse response = client.Execute(request);
Console.WriteLine(response.Content);
                </code></pre>
            </div>

            <div class="tabcontent tablinks" id="basictab3">
                <pre><code class="json">
OkHttpClient client = new OkHttpClient().newBuilder()
  .build();
MediaType mediaType = MediaType.parse("application/x-www-form-urlencoded");
RequestBody body = RequestBody.create(mediaType, "username=user&email=user@gmail.com&phone=+221781234568&companyName=Logidoo&country=Senegal&password=pass123");
Request request = new Request.Builder()
  .url("http://localhost:9000/api/users/register")
  .method("POST", body)
  .addHeader("Content-Type", "application/x-www-form-urlencoded")
  .build();
Response response = client.newCall(request).execute();
                </code></pre>
            </div>
        </div>
    </div>